@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #FFD200;
}

main{
    max-width: 1032px;
    width: auto;
    text-align: center;
    margin: auto;
    padding: auto;
}

div{
    font-family: 'Roboto', sans-serif;
}
